= render :partial => "layouts/slider"

%h1 About Chabad Lubavitch UK Gala Dinner

%p Chabad is dedicated to every Jew, regardless of background or affiliation. They offer a welcoming and loving environment for enhancing Jewish life. Chabad is renowned for providing everyone, especially our future generation with a non-judgmental, accepting, caring and personalised Jewish experience.

%p Every Chabad centre is independently funded and all the money raised in the UK remains in the UK. They rely upon the generosity of local supporters, enabling them to continue vital work across the country. Chabad UK is an important link in the closely connected and wide-spread network of over 3,000 Chabad centres in over 70 countries.