.tiltright
  %h2 Guests of Honour, Mr & Mrs Nachman Reich
  = image_tag "dinner/guest-of-honour.png", style: "float:right"
  %p Nachman Reich and his wife are the omud ha’chessed of North West London. They epitomise the ultimate in an ‘open home’, a home full of kindness and caring, and their reputation is known worldwide for their unstinting support for the needy, their generosity and compassion to all around them. As a pioneer in the food industry, Nachman can be credited with driving up professional food standards and making gourmet Kosher catering available to a much wider clientele. In his zechus, kashrus observance has grown exponentially in the wider Jewish community – promoting halachic standands, without compromising on luxury. As parents and grandparents of two generations of Beis Yaakov pupils, their connection with the school is long-standing and highly valued. Mr & Mrs Reich are ideally placed as Guests of Honour at this Dinner.
.clearfix

.tilt
  %h2 Guest Speaker, Rabbi Daniel Rowe EDUCATIONAL DIRECTOR, AISH UK
  = image_tag "dinner/guest-speaker.png", style: "float:left; margin-right: 10px;"
  %p Manchester-born to a family of askonim and educators, Rabbi Rowe holds a BA in philosophy from University College London (UCL) where he was awarded the A. J. Ayer prize for philosophy. Rabbi Rowe studied for almost a decade in Israel in various Yeshivos and Kollelim and is considered one of the most dynamic Jewish speakers in the UK, teaching in campuses, communities and schools across the UK. Rabbi Rowe is also proud parent at Beis Yaakov!
.clearfix

.tilt
  %h2 Guest Performer, Ohad Moskowitz
  = image_tag "dinner/guest-performer.png", style: "float:right"
  %p Hear Ohad Moskowitz in concert or at a simcha, or listen to one of his hugely popular CDs and you will never forget the experience: his powerful voice and tremendous vocal range, coupled with an incredible knack of choosing inspirational tunes that stay with you long afterwards, have made Ohad a household name in the Jewish music industry. There is only one Ohad! Resident of Israel, Ohad was born and raised in Belgium where his impressive voice was noticed at a young age. His singing career has gone from strength to strength with numerous successful albums and concerts worldwide, including performances at Madison Square Garden, Lincoln Center in New York and London’s Wembley Conference Centre. Enjoy the Ohad experience!
.clearfix

.tilt
  %h2 Committee
  %p
    %strong DINNER CHAIRMAN
    Aryeh Melinek.
    %strong DINNER COMMITTEE Meir Eckstein, Effie Halpern, YMY Klein, Meir Simcha Krausz, Shaul Orzel, Dovid Posen, Moishe Weiss
