= render :partial => "layouts/slider"
%p The ONE Dinner for Chabad Lubavitch UK is taking place on Tuesday 30th September 2014 at the London Marriot Hotel, Grosvenor Square.
 
%p This year Chabad will be honouring, its UK leaders, the late Rabbi Nachman Sudak Z'L, and YBL'T his wife and partner, Mrs Fradel Sudak with a life time achievement award.  Their extraordinary dedication, support and love for the creation and continuity of Chabad UK is recognised at more than 35 centres, educating, supporting and reaching out to thousands of people in the UK each year.
 
%p On the night, Chabad are delighted to be recognising the achievements of our Guest of Honour, Mr Gennadiy Bogolyubov for the incredible impact he has made on Jewish life both in the Ukraine and globally.